<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- partial "banner.html" . }}
        <div id="content">
          {{- partial "mainmenu.html" . }}
          <div class="flex-container">
            <div id="sidebar">
              {{- partial "sidebar.html" . }}
            </div>
            <div id="main-content">
              {{- block "content" . }}{{- end }}
            </div>
          </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
