body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(102, 102, 102);
    background-image: url("/images/header.jpg");
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat-x;

    font: 400 0.8em verdana, arial, sans-serif;
    text-align: center;
    line-height: 170%;

    height: 100%;
    
    margin-top: 0;
    padding-top: 0;
}

#content {
    width: 94%;
    max-width: 1000px;
    height: 100%;
    min-height: 100%;

    margin: 0 auto;
}

#banner {
    position: relative;
    height: 193px;
    text-align: left;
}

#title {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 130px;
    padding: 5px;
    text-align: right;
}

#title h1 {
    font: 700 4em "trebuchet ms", serif;
    letter-spacing: -3px;
    text-transform: lowercase;
    color: #FFF;
}

#banner-left {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 826px;
}

#banner-center {
    position: absolute;
    z-index: 2;
    top: 140px;
    right: 470px;
}

#banner-right {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
}

#main-menu {
    float: left;
    width: 100%;
    clear: both;
    height: 40px;
    text-align: left;
}

.nav-header {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li a {
    float: left;
    margin: 0 2px;
    padding: 5px 0.5em;
    font: 400 1.6em "trebuchet ms", serif;
    text-decoration: none;
    text-transform: lowercase;
    color: #fff;
}

#main-menu li a:hover {
    color: #65ebff;
    border-top: 5px solid #000;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 400px;
    text-align: left;
}

.subnav-header {
    margin: 10px 30px;
    padding: 0 30px;
}

.subnav-item {
    color: #eee;
}

.nav-link {
    color: #8BE6FA;
}

#main-content {
    text-align: left;
    width: 100%;
    color: #eee;
}

.section h1, h2, p {
    margin: 0;
    padding: 10px 15px;
}

.section h1 {
    color: #9FF3FF;
    font: 400 1.5em "trebuchet ms", serif;
}

.section h2 {
    color: #F8D766;
    font: 400 1.3em "trebuchet ms", serif;
}

.section p {
    text-align: justify;
}

.list ul {

}

.list li {
    list-style: none;
    margin: 0;
    padding-bottom: 30px;
}

.list li a {
    text-decoration: none;
}

.list h1, h2, p {
    margin: 0;
    padding: 5px 0px;
}

.list h1 {
    color: #9FF3FF;
    font: 400 1.5em "trebuchet ms", serif;
}

.list h2 {
    color: #F8D766;
    font: 400 1.3em "trebuchet ms", serif;
}

.list a {
    color: #8BE6FA;
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;

}

.list-sidebar {
    color: #eee;
    margin: 0px 30px;
}

.list-sidebar h1, h2, h3, p {

}

.list-sidebar a {
    color: #8BE6FA;
    text-decoration: none;
}

.list-sidebar a:hover {
    text-decoration: underline;
}
